*
{
  padding:0;
  margin:0;
  border:0;        
  font-size:12px;
  vertical-align:top;
  color:#333333;
}
body
{
  font-family:arial, verdana;
  width:100%;
  color:#292929;
}
 .alignLeft
 {    
    text-align:left;
 }
 .alignRight
 {    
    text-align:right;
 }
 a
 {
    text-decoration:none;
    /*color:#1948C1;*/
 }       
 a:hover
 {
    text-decoration:underline;
 }                          
 input[type='text'], select, textarea, input[type='password']
 {
    border: 1px solid #cccccc;
    display:inline-block; 
    font-size:11px;
 }                    
 input[type='text'], input[type='password']
 {
    height:16px !important;
    margin:0px !important;      
    padding:2px 5px 3px 5px !important;
 }  
 select
 {
    height:28px !important;
    padding: 5px 5px 3px 5px !important;
 }  
 input *, select *
 {
    vertical-align:middle;
 }
 textarea
 {
    width:400px;
    height:100px;
 }                    
 .checkbox
 {
    border:0px;
    padding:0px !important;
    margin-right:0.5em;
    width: auto !important;

 }              
 input[type='checkbox']
 {
    border:0px;
    padding:0px !important;
    margin-right:0.5em;
    width: auto !important;

 }                     
 input[type='submit'],input[type='reset'],input[type='button']
 {
    border:0px;
    padding:3px 8px 4px 8px;
    margin-right:0.5em;
    width:auto !important;
    height: auto !important;
    color:#ffffff;
    font-size:13px;
    font-weight:bold;  
    background:#1078B3;  
    font-family:arial, verdana;

 } 
 input[type='submit']:hover,
 input[type='reset']:hover,
 input[type='button']:hover
 {
    background:#000000; 

 } 
 input[type='radio']
 {
    border:0px;
    padding:0px !important;
    margin-right:0.5em;
    width: auto !important;

 } 
 input[type='file']
 {                                
    padding:0px !important;
    margin-right:0.5em;
    width: auto !important;
    height:22px !important;  
    border: 1px solid #cccccc;
    display:inline-block; 
    font-size:11px;

 }
 .file
 {                                
    padding:0px !important;
    margin-right:0.5em;
    width: auto !important;
    height:22px !important;  
    border: 1px solid #cccccc;
    display:inline-block; 
    font-size:11px;

 }
 option
 {                         
    padding: 0px 5px !important;
    font-size:13px;   
    display:block;
 }
 .margin0
 {     
    margin:0px !important;
 }
 .border0
 {                          
    border:0px !important;
 }
 .padding0
 {     
    padding:0px !important;
 }
 .rightText
 {
    text-align:right;
 }
 .border1px
 {     
    border: 1px solid #dddddd !important;
 }
 .border2px
 {     
    border: 2px solid #dddddd !important;
 }
 .bigPadder
 {
    padding:15px 20px;
 }         
 
 .padder
 {
    padding:10px 15px;
 }
             
 .squarePadder
 {
    padding:10px;
 }
 .squarePadder10
 {
    padding:10px;
 }
 .squarePadder5
 {
    padding:5px;
 }
            
 .sidePadder5
 {
    padding:0px 5px;
 } 
 .sidePadder10
 {
    padding:0px 10px;
 } 
 .sidePadder20
 {
    padding:0px 20px;
 }
 .sidePadder30
 {
    padding:0px 30px;
 }
 
 .smallPadder
 {
    padding:5px 5px;
 }

 
 .inlineBlock
 {
     display:inline-block;
 }                   
 .leftTd
 {
    text-align:right;
 }
 .rightTd
 {
    text-align:left;
 }                         
 .alignLeft
 {
    text-align:left !important;
 }
 .alignRight
 {
    text-align:right !important;
 }
 .alignCenter
 {
    text-align:center !important;
 }       
 .button
 {
    width:auto !important;
    height: auto !important;
 }
 .buttonImg
 {
    width:auto !important;
    height: auto !important;
    border:0 !important;
    padding:0 !important;
 }
 .icodeDialog
 {
    display:none;
 }
 .verticalAlignMiddleChildren *
 {   
    vertical-align:middle;
 }            
.paging
{
    display:inline-block;
    margin-right:3px;
}
.paging a
{
    
   padding:3px 7px 3px 7px;
   display:inline-block;
   background:#f0f0f0;
   color:black;
   border:1px solid #e0e0e0;
}
                   
.paging a:hover
{                  
   background:#0071bc;
    color:white;
}
.pagingCurrent
{
    
   padding:3px 7px 3px 7px;
   display:inline-block;        
   background:#0071bc;
    color:white;
   border:1px solid #e0e0e0;
}


.oddReview
{
    text-align:left;
    background:#f4f1f3;    
    background:#f7e9c0;
    background:#f9f9ff;
    padding:10px;
    clear:both;
} 
.oddReview img
{
    width:15px;
} 
.evenReview
{        
    text-align:left;
    background: #ffffff;  
    background:#f4f1f3;  
    background:#eeeeff; 
    padding:10px;
    clear:both;
}   
.evenReview img
{                 
    width:15px;
    height:15px;
}
.reviewOperations
{
    float:right;
}
.reviewOperations *
{
    vertical-align:middle;
}                                     
.reviewOperations span
{
    display:inline-block;
    margin-left:2px;
    padding:1px 10px 2px 10px;
    color:#ffffff;
    background:#1078B3;
}  
.reviewOperations span:hover
{
    background:#444444;
}  
.reviewOperations span a
{
    color:#ffffff;
} 
.filters
{
    margin:5px;
    text-align:center;

}
.filters a
{
    color:black;
    margin:2px;
    font-size:1.1em;
}  
.filters *
{
    vertical-align:middle;
}
.statsTable
{
    width:100%;
    text-align:center;
}
             
.statsTable td, .statsTable th
{
    padding: 3px 5px 3px 5px;
    border:1px solid #bbbbbb;
    border-top:0px;
    border-right:0px;
    margin:0;    
    text-align:center;

}   
.statsTable th
{
    background:#333333;
    color:#f5f5f5;
    padding: 8px 5px;
}                         
.statsTable td:last-child, .statsTable th:last-child
{       
    border-right:1px solid #bbbbbb;
  
}
.statsTable a
{
    color:#1078B3;
}