  .width700
  { 
     position:relative;
     width:700px;
     margin:10px 0px 10px 10px;
  }  
  /*height consumed without content 358-40-1  */
  /*620-2*/
  .width700Content
  {
     text-align:left;
  }
  .col220
  {  
     position:relative;
     width:220px;   
     margin:10px 10px 10px 0px;
  }
  .col220Block
  {       
     margin:0px 0px 20px 0px;
  }
  .col220Nav
  {
      text-align:right;
      padding:10px 0px;  
      background:url('../images/leftColBack.png') center left no-repeat;
      border-right: 1px solid #efefef;
  }       
  .col220NavItem
  {
      display:block;
      padding:5px;
  }      
  .col220NavItem *
  {
      vertical-align:middle;
  }      
       
  .col220NavItem img
  {
      margin-left:5px;
  }                        
  .col220NavItem span
  { 
      color: #393939;
      font-weight:bold;
      font-size:12px;
  }
  .myAccount span
  { 
      color: #293999;
      font-weight:bold;
      font-size:12px;
  }                              
  .col220NavItem:hover
  {                       
      color:#292929;
      background:#EFF2F4;
      background: rgba(197, 216, 226, 0.3);
      text-decoration:none;


  }
  .myAccount:hover
  {                       
      color:#292929;
      background:#F4F2EE;
      background: rgba(226, 216, 197, 0.3);
      text-decoration:none;


  }
  
  .cms h2
  {     
    position:relative;
    background:url('../images/subHead.png') repeat-x;
    over-flow:hidden;
    border:1px solid #dddddd;
    padding: 5px 8px;
    margin:10px 0px 0px 0px;
    font-size:12px;
  }
  .cms p
  {
    padding:10px;
  }  
  .cms *
  {
    vertical-align:middle;
  }  
  .firstUl
  {
    padding:0;  
    padding:10px 0px;
  }   
  .firstUl li
  {
    margin-left:35px;
    margin-bottom:10px;
  }
  .secondUl
  {     
    padding:0;
    margin:0;
    list-style-type:circle;
    font-weight:bold;
  }    
  .secondUl li
  {
    margin-left:65px;
    margin-bottom:10px;  
    color:#aa2222;
  }   
  .subHead
  {    
    position:relative;
    height:34px;
    background:url('../images/subHead.png') repeat-x;
    over-flow:hidden;
    border:1px solid #dddddd;
    padding-left: 5px;
    margin:10px 0px 0px 0px;
  }   
  .subHead *
  {
      vertical-align:middle;
  }   
  .subHead span
  {                 
    display:inline-block;
    font-size:16px;
    font-weight:bold;
    color:#555555;
  }             
  .subHead a.pin
  {           
    display:inline-block;
    font-size:20px;
    padding-top:1px;
    font-weight:bold;
    margin:0px 5px;
    cursor:pointer;  
    color:#1078B3;
  }
  .subHead a.pin:hover
  {                         
    color:#454545;
  }
  .subheadButton a
  {
    font-size:16px;
    font-weight:bold;
    color:#1078B3;
    display:inline-block;
  }
  .formTable table
  {
      width:100%;
  }
  .formTable
  {
      padding:10px 0px;
      background:#f9f9f9;
      display:none;
  }   
  .formTable span
  {
      display:block;
  }
  
  .formTable td
  {
      padding:5px 3px;;
  }    
  .formTable td.leftTd
  {
      padding-top:7px;
  }
                           
  a.nextSection
  {
      display:inline-block;
      color:white;
      padding:5px 10px 5px 10px;
      font-size:16px;
      font-weight:bold;       
      /*background:#1078B3;*/
      margin-right:5px; 
      color:#1078B3;
  }
  a.nextSection:hover
  {                 
      /*background:black;*/
      text-decoration:none;
      cursor:pointer;  
      color:black;
  }

